*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.testoLungo{
    color: blueviolet;
    font-size: 22px;
    
}
.parteCentrale{
    min-height: 60vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    
}
h1{
    color: yellow;
}
h2{
    color: brown;
    font-size: 28Spx;
}
#submit{
    font-size: 12px;
    color: blueviolet;
    background-color: chartreuse;
}
#submit:hover{
    box-shadow: 2px 2px 8px 8px blueviolet;
}
.testo{
    margin-top: 60px;
    min-height: 50vh;
     width: 90vw;
     text-align: center;
     
}
.personaggi{
    width: 100vw;
    min-height:50vh ;    
    text-align: center;
    margin-bottom: 30px;
    
}
#creati{
    text-decoration: none;
    color: purple;
}
#creati:hover{
    color: salmon;
}
#create{
    text-decoration: none;
    color: salmon;
    animation: blink 1s linear infinite;
}
#create:hover{
    color: purple;
}
a{
    text-decoration: none;
    font-size: 30px;
}
.visualeMappa{
    text-align: center;
    margin-bottom: 60px;
     
}
#mappa{
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    border: 1px solid greenyellow;
    box-shadow: 2px 2px 8px 8px blueviolet;
    text-align: center;
    margin-bottom: 30px;
}
.mezzo{
    text-align: center;
}

#scritta{
    width: 90vw;
    height: 700px;
    border-radius: 20px;
    border: 1px solid greenyellow;
    box-shadow: 2px 2px 8px 8px blueviolet;
    text-align: center;
    margin-bottom: 30px;
    
}
#fotina{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 8px blueviolet;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
#fotina:hover{
    padding:5px;
    box-shadow: 5px 5px 10px 2px purple;
    -webkit-box-shadow: 5px 5px 10px 2px purple;
    -moz-box-shadow: 5px 5px 10px 2px purple;
}
.titolo{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.compilazioneNew{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.schema{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(35, 35, 75);
    width: 500px;
    min-height: 300px;
    border-radius: 20px;
    border: 1px solid greenyellow;
    box-shadow: 2px 2px 8px 8px blueviolet;
    text-align: center;
    margin-bottom: 30px;

}
.caos {
    margin: 0px;
    color: red;
    font-size: 30px;
    border:2px solid greenyellow;
    min-width: 500px;
    min-height: 400px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:rgb(35, 35, 75);
    border-radius: 20px;
    border: 1px solid greenyellow;
    box-shadow: 2px 2px 8px 8px blueviolet;
    text-align: center;
    margin-bottom: 30px;
    word-wrap: break-word;
    
}
input{
    color: indianred;
    width: 150px;
    height: 20px;
    border-radius: 5px;
}
label{
    color: indianred;
    font-size: 22px;
}
.listaDatiIns{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
    min-width: 600px; 
    min-height: 600px;
}
.listaDatiIns li {
   font-size: 20px;
    
}

#immagineUpload{
    margin-top: 10px;
}

@media screen and (max-width:900px){
    #scritta{
        margin:0 auto;
        width:700px;
        height: 400px;
    }
    .headerSistemato a{
        
        font-size: 15px;
    }
    .headerSistemato ul{
        width: 600px;
        
    }
  
    
   
}
@media screen and (max-width:650px){
    .parteCentrale{
       
        background-color: red;
        width: 100vw;
        
    }
    
   
}
